doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        link(rel="icon",href="../../favicon.ico")
        title Food Intake Tracker Dashboard
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
        block header
    body

        nav.navbar.navbar-inverse.navbar-static-top
          .container-fluid
            .navbar-header
              p.navbar-text #{weightNow} g | #{temperature}° C

            ul.nav.navbar-nav
              li: a(href="/") Events
              li: a(href="/trends") Trends
              //li: a(href="/punchcard") Punch Card

        .container-fluid
          block content
